<link rel="stylesheet" href="../assets/css/main.css" />
<!-- Main -->
<div id="main">
	<div class="inner">
		<!-- Header -->
		<header id="header">
			<!-- <p style="width: 50%; height: 50%"><img src="../images/logo2.png" /></p> -->
			<!-- <a href="index.html" class="logo"><strong>Icegram</strong> by HTML5 UP</a> -->
		</header>
		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h1 style="width:50%; text-align: center">Icegram</h1>
						<p style="margin-left: -7%">익명 친구들의 사진과 동영상을 보려면 가입하세요.</p>
					</header>
					<h2>Forgot your password?</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width: 50%", placeholder: "이메일을 입력하세요."  %>
            </div>

            <div class="actions">
              <%= f.submit "이메일로 찾기", style: "width: 50%; float: left" %>
            </div>
          <% end %>
          <div class="actions", style="width: 50%; text-align: center">
            <hr><%= render "devise/shared/links" %>
          </div>
				</div>
				<span class="image object">
					<img src="../../images/Icegram.png" alt="" />
				</span>
			</section>
		<!-- Footer -->
			<footer id="footer" style="text-align: center">
				<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
			</footer>
	</div>
</div>
