<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <%#= form_for @user, : url => users_path, :html => {:multipart => true} do |f| %>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row uniform">
    <div class="12u 12u$(xsmall)">
      <%= f.label :제목%>
      <%= f.text_field :title, style: "width: 100%", placeholder: "제목을 입력하세요."%>
    </div>
    <div class="12u$">
      <%= f.label :내용 %>
      <%= f.text_area :content, rows: "10" %>
    </div>
    <div class="12u$">
      <%= f.label :태그 %>
      <%= f.text_field :tag %>
    </div>
    <div class="12u$">
      <%= f.label :이미지 %>
      <%= f.file_field :image%>
      <!-- <i class: "icon fa-search"></i> -->
    </div>
    <div class="12u$">
      <%= f.submit class: "actions" %>
      <%= link_to 'Back', posts_path, class: "button" %>
    </div>
  </div>
<% end %>
