<!-- Main -->
<div id="main">
	<div class="inner">
		<header id="header">
			<img src="../images/header.png" alt="" />
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="#태그검색" style="width: 50%; float: right" />
				</form>
			</section>
		</header>
	<!-- Content -->
    <section>
      <div class="row 200%">
        <div class="8u$ 12u$(medium)">
          <%= render 'form' %>

          <%= link_to 'Show', @post %> |
          <%= link_to 'Back', posts_path %>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">
		<nav id="menu">
			<header class="major">
				<h2>내 페이지</h2>
			</header>
			<ul>
				<li><%= current_user.username %>님 환영합니다.</li>
				<li><%= link_to "홈으로", root_path %></li>
				<li><%= link_to "내 피드", my_feed_posts_path %></li>
				<li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
			</ul>
		</nav>
	</div>
</div>
<!-- Scripts -->
<!--<link rel="stylesheet" href="../assets/css/main.css" />-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../assets/js/main.js"></script>
