
<div id="main">
	<div class="inner">
		<!-- Header -->
		<header id="header">
			<p class: "logo"><strong>Editorial</strong><%= link_to "새글쓰기", new_post_path, class: "button", style: "float: right;" %></p>
		</header>
		<form action="/">
		  태그 : <input name="q" type="search" placeholder="태그 검색" aria-label="태그 검색">
		  <button type="submit">검색하기</button>
		</form>
	  <!-- Section -->
		<section>
			<div class="posts">
				<% @posts.each do |post| %>
				<article>
					<img src="<%= post.image.small %>"width: 300px>
					<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a> -->
					<h3><%= post.title %></h3>
					<p><%= post.user_id %></p>
					<p><%= post.content %></p>
					<ul class="actions">
						<li><%= link_to 'More', post, class: "button" %></li>
						<!--<li><a href="#" class="button">More</a></li>-->
					</ul>
				</article>
				<% end %>
			</div>
		</section>
	</div>
</div>

<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">
		<section id="search" class="alt">
			<form method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Search" />
			</form>
		</section>
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
				<li>
					<span class="opener">Submenu</span>
					<ul>
						<li><a href="#">Lorem Dolor</a></li>
						<li><a href="#">Ipsum Adipiscing</a></li>
						<li><a href="#">Tempus Magna</a></li>
						<li><a href="#">Feugiat Veroeros</a></li>
					</ul>
				</li>
				<li><a href="#">Etiam Dolore</a></li>
				<li><a href="#">Adipiscing</a></li>
				<li>
					<span class="opener">Another Submenu</span>
					<ul>
						<li><a href="#">Lorem Dolor</a></li>
						<li><a href="#">Ipsum Adipiscing</a></li>
						<li><a href="#">Tempus Magna</a></li>
						<li><a href="#">Feugiat Veroeros</a></li>
					</ul>
				</li>
				<li><a href="#">Maximus Erat</a></li>
				<li><a href="#">Sapien Mauris</a></li>
				<li><a href="#">Amet Lacinia</a></li>
			</ul>

		</nav>
		<form action="/">
			<button type="submit" value="음식" name="q">음식</button>
			<button type="submit" value="로봇" name="q">로봇</button>
			<button type="submit" value="3" name="q">태그 3</button>
			<button type="submit" value="4" name="q">태그 4</button>
			<button type="submit" value="5" name="q">태그 5</button>
			<button type="submit" value="동물" name="q">동물</button>
		</form>
	</div>

</div>


<!-- Scripts -->
<!--<link rel="stylesheet" href="../assets/css/main.css" />-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../assets/js/main.js"></script>
