<div id="main">
	<div class="inner">
		<header id="header">
			<p><%= @post.tag %></p>
			<section id="search" class="alt">
				<form method="post" action="#">
					<input type="text" name="query" id="query" placeholder="#태그검색" style="width: 50%; float: right" />
				</form>
			</section>
		</header>
  	<!-- Content -->
  	<section>
  		<header class="main">
  			<h1><%= @post.title %></h1>
  		</header>

			<p><img src="<%= @post.image.small %>"></p>
  		<p><%= @post.content %></p>
			<hr>
			<%= link_to 'Edit', edit_post_path(@post), class: "button" %>
			<%= link_to 'Back', posts_path, class: "button" %>
			<button type="button" class="like" style="float: left">좋아요(<span id="like-count"><%= @post.likes.count %></span>)</button>
			</section>
			<!-- <form id="comment-form">
			  <input id="comment-input" type="text" placeholder="Comment">
			  <button type="submit">댓글쓰기</button>
			</form> -->
			<form id="comment-form">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			  <input id="comment-input" type="text" placeholder="Comment">
			  <button type="submit">댓글쓰기</button>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th width="20%">유저</th>
						<th width="50%">내용</th>
					</tr>
				</thead>
				<tbody class="comment-list">
			    <% @post.comments.reverse.each do |comment| %>
			      <tr id="comment-<%= comment.id %>">
			        <td><%= comment.user.email %></td>
			        <td class="comment" data-id="<%= comment.id %>"><%= comment.contents %></td>
			        <% if (current_user.id == comment.user.id) %>
			          <td><button class="delete-comment" data-id="<%= comment.id %>">삭제</button></td>
			        <% else %>
			          <td></td>
			        <% end %>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
  </div>
</div>
<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">
		<nav id="menu">
			<header class="major">
				<h2>Menu</h2>
			</header>
			<ul>
				<li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
				<li>
					<span class="opener">Submenu</span>
					<ul>
						<li><a href="#">Lorem Dolor</a></li>
						<li><a href="#">Ipsum Adipiscing</a></li>
						<li><a href="#">Tempus Magna</a></li>
						<li><a href="#">Feugiat Veroeros</a></li>
					</ul>
				</li>
				<li><a href="#">Etiam Dolore</a></li>
				<li><a href="#">Adipiscing</a></li>
				<li>
					<span class="opener">Another Submenu</span>
					<ul>
						<li><a href="#">Lorem Dolor</a></li>
						<li><a href="#">Ipsum Adipiscing</a></li>
						<li><a href="#">Tempus Magna</a></li>
						<li><a href="#">Feugiat Veroeros</a></li>
					</ul>
				</li>
				<li><a href="#">Maximus Erat</a></li>
				<li><a href="#">Sapien Mauris</a></li>
				<li><a href="#">Amet Lacinia</a></li>
			</ul>
		</nav>
	</div>
</div>
<% content_for :script do %>
  <script>
    $(function() {
      //좋아요
      $('.like').on('click', function(){
        $.ajax({
          url: '/posts/<%= @post.id %>/like',
          method: "GET"
        });
      });

      //댓글 작성
      $('#comment-form').on('submit', function(e) {
        e.preventDefault();
        var value = $('#comment-input').val();
				console.log($('#comment-input').val());
        $.ajax({
          url: '/posts/<%= @post.id %>/comments',
          method: 'POST',
          data: {
            contents: value
          }
        });
				console.log('/posts/<%= @post.id %>/comments');
      });

      // 댓글 삭제
      $('.comment-list').on('click', '.delete-comment', function() {
        var id = $(this).data('id');
        $.ajax({
          url: '/posts/<%= @post.id %>/comments/' + id,
          method: "DELETE"
        });
      });
    })
  </script>
<% end %>
<!-- Scripts -->
<!--<link rel="stylesheet" href="../assets/css/main.css" />-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../assets/js/main.js"></script>
